    
.icon-genericforms  {
    background: transparent url(../img/application_form.png)  no-repeat !important;
    }
    
.icon-genericforms-accept  {
    background: transparent url(../img/accept.png)  0 2px no-repeat !important;;
    }
    
.icon-genericforms-cancel  {
    background: transparent url(../img/cancel.png) 0 2px  no-repeat !important;;
    }
    
    
.icon-disk-red  {
    background: transparent url(../img/disk_red.png) no-repeat !important;;
    }

        